.Navi {
  display: flex;
  justify-content: space-around;
  background: #535252;
  padding-top: 12px;
  padding-bottom: 12px;
}

.Navi a {
/*  color: white;*/
/*  text-decoration: none;*/
}

.Navi a:hover {
  
}

.Nav {
  color: white;
  text-decoration: none;
}

.active {
  color: #88b4cc;
}

